<app-toolbar></app-toolbar>
<router-outlet></router-outlet>

<!-- Rodapé -->
<footer class="d-flex column align-center d-pad homepage-footer">

    <!-- Logo -->
    <div class="row justify-center align-center">
        <mat-icon class="d-pad" aria-hidden="false">
            library_music
        </mat-icon>
        <span>Geração Procedural de Melodias com Aprendizado do Máquina</span>
    </div>

    <!-- Autor -->
    <div class="row d-pad justify-center align-center">
        <span>João Leonardo H. D. Agnol</span>
    </div>

    <!-- Ano -->
    <div class="row d-pad justify-center align-center">
        <span>2023</span>
    </div>

</footer>